<template>
  <div id="main-div">
    
     <div class="container-fluid">
    <div class="row first-row-ls">
      <div class="col-12 nav-bar">
        <ul>
          <li class="name li-tag">-FinOffice-</li>
          <li class="home li-tag">Dashboard</li>
          <li class="account li-tag">
            <span id="fname-lname">{{objAcc.username}}</span>
            <button class="btn btn-success dropdown-toggle dropdown" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle acc"></i>
            </button>
            <div class="dropdown-menu accPopup" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalScrollable">Settings <i
                  class="fas fa-user-cog"></i></a>
              <a class="dropdown-item" href="#">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
            <!-- modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title modal-name" id="exampleModalScrollableTitle">Account settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body myModal">
                    <i @click="usernameF()" class="fas fa-edit pen username-pen"></i>
                    <strong><span class="infos">Korisničko ime:</span></strong> <span class="result-span"
                      id="username">{{objAcc.username}}</span>
                    <br>
                    <input placeholder="izmeni:" class="username-edit edit" type="text">
                    <hr>
                    <i @click="passwordF()" class="fas fa-edit pen password-pen"></i>
                    <strong><span class="infos">Lozinka:</span></strong> <span class="result-span" id="password">*****</span>
                    <br>
                    <input placeholder="izmeni:" class="password-edit edit" type="text">
                    <hr>
                    <i @click="fnameF()" class="fas fa-edit pen fname-pen"></i>
                    <strong><span class="infos">Ime:</span></strong> <span class="result-span" id="firstName">{{objAcc.firstName}}</span>
                    <br>
                    <input placeholder="izmeni:" class="fname-edit edit" type="text">
                    <hr>
                    <i @click="lnameF()" class="fas fa-edit pen lname-pen"></i>
                    <strong><span class="infos">Prezime:</span></strong> <span class="result-span" id="lastName">{{objAcc.lastName}}</span>
                    <br>
                    <input placeholder="izmeni:" class="lname-edit edit" type="text">
                    <hr>
                    <i @click="addressF()" class="fas fa-edit pen adress-pen"></i>
                    <strong><span class="infos">Adresa:</span></strong> <span class="result-span" id="adress">{{objAcc.address}}</span>
                    <br>
                    <input placeholder="izmeni:" class="adress-edit edit" type="text">
                    <hr>
                    <i @click="emailF()" class="fas fa-edit pen email-pen"></i>
                    <strong><span class="infos">E-mail:</span></strong> <span class="result-span" id="email">{{objAcc.email}}</span>
                    <br>
                    <input placeholder="izmeni:" class="email-edit edit" type="text">
                    <hr>
                    <i @click="phoneF()" class="fas fa-edit pen phone-pen"></i>
                    <strong><span class="infos">Telefon:</span></strong> <span class="result-span" id="phone">{{objAcc.phone}}</span>
                    <br>
                    <input placeholder="izmeni:" class="phone-edit edit" type="text">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                    <button type="button" class="btn btn-success">Sačuvaj</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- modal end -->

          </li>
        </ul>
        <div class="shadow-box"></div>
      </div>
    </div>
    <div class="row first-row-sm">
      <span class="name-sm">FinOffice</span>
    </div>
    <div id="menu-row" class="row">
      <div class="col-12">
        <i @click="openMenuNav()" id="menu-nav" class="fas fa-bars"></i>
        <button class="btn btn-success dropdown-toggle dropdown-acc" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle acc"></i>
        </button>
        <div class="dropdown-menu accPopup" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Settings <i class="fas fa-user-cog"></i></a>
          <a class="dropdown-item" href="#">Logout <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
    </div>
    <div id="dropdown-row" class="row">
      <div class="col-6 hierarchy-left">
        <p class="hierarchy">Hierarchy <i class="fas fa-sitemap"></i></p>
        <hr>
        <ul class="h-ul">
          <li class="h-li hg-dropdown">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hg
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Milinko</a>
                <a class="dropdown-item" href="#">Marko</a>
                <a class="dropdown-item" href="#">Zeljko</a>
              </div>
            </div>
          </li>
          <i class="fas fa-level-down-alt one-dropdown"></i>
          <li class="h-li reg-dropdown">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reg
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Milinko</a>
                <a class="dropdown-item" href="#">Marko</a>
                <a class="dropdown-item" href="#">Zeljko</a>
              </div>
            </div>
          </li>
          <i class="fas fa-level-down-alt two-dropdown"></i>
          <li class="h-li stwp-d">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stwp
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Milinko</a>
                <a class="dropdown-item" href="#">Marko</a>
                <a class="dropdown-item" href="#">Zeljko</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-6 options-right">
        <p class="options-dropdown">Options <i class="fas fa-cogs"></i></p>
        <hr>
        <ul class="o-ul">
          <li class="o-li o-li-first-dropdown"><i class="fas fa-cog cog"></i> Create reg</li>
          <li class="o-li"><i class="fas fa-cog cog-del"></i> Delete reg</li>
          <li class="o-li"><i class="fas fa-cog cog"></i> Create stwp</li>
          <li class="o-li"><i class="fas fa-cog cog-del"></i> Delete stwp</li>
        </ul>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-2 sidebar">
        <p class="hierarchy">Hierarchy <i class="fas fa-sitemap"></i></p>
        <hr>
        <div id="hierarchy-tree">
          <p id="hq-class">HQ</p>
          <small v-for="r in res" :key="r.id" id="nameHQ">{{r.hqName}}</small><i @click="expandReg()" class="fas fa-plus"></i>
           <ul id="reg-list">
             <li v-for="region in res.regions" :key="region.id" id="regions">
                <p id="nameReg">{{region.regName}}</p><i @click="expandShops()" class="fas fa-plus"></i>
                <ul id="shops-list">
                   <li v-for="shop in res.regions.shops" :key="shop.id">
                     <p id="nameShop">{{shop.shopName}}</p>
                   </li>
                </ul>
             </li>
           </ul>
        </div>
        <p class="options">Options <i class="fas fa-cogs"></i></p>
        <hr>
        <ul class="o-ul">
          <li class="o-li o-li-first"><i class="fas fa-cog cog"></i> Create reg user</li>
          <li class="o-li"><i class="fas fa-cog cog-del"></i> Delete reg user</li>
          <li class="o-li"><i class="fas fa-cog cog"></i> Create stwp user</li>
          <li class="o-li"><i class="fas fa-cog cog-del"></i> Delete stwp user</li>
        </ul>
      </div>
      <div class="col-xl-5 col-lg-6 col-sm-12">
        <div class="card first-card">
          <div class="card-body">
            <h5 class="card-title">Kasa</h5>
            <p class="card-text">Sekcija kasa služi uvidu i obračunima finansiskih tokova.</p>
            <a href="#" class="btn btn-success">Open</a>
          </div>
        </div>
        <div class="card second-card">
          <div class="card-body">
            <h5 class="card-title">Inventar</h5>
            <p class="card-text">U ovoj sekciji možete videti kompletan inventar.</p>
            <a href="../inventory/inventory.html" class="btn btn-success">Open</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-sm-12">
        <div class="card first-card">
          <div class="card-body">
            <h5 class="card-title">Troškovi</h5>
            <p class="card-text">Sagledajte troškove u ovoj sekciji.</p>
            <a href="../costs/costs.html" class="btn btn-success">Open</a>
          </div>
        </div>
        <div class="card second-card last-card">
          <div class="card-body">
            <h5 class="card-title">Reporti</h5>
            <p class="card-text">Sve prijave i žalbe na jednom mestu.</p>
            <a href="#" class="btn btn-success">Open</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
</template>

<script>
const axios = require('axios');
export default {
  data () {
    return {
       globalUrl: 'http://fo.insolutions.tech/api',
       objAcc: JSON.parse(localStorage.getItem("objAcc")),
       res: [],
    }
  },
  methods: {
      usernameF() {
         $('.username-edit').fadeToggle();
      },
      passwordF() {
         $('.password-edit').fadeToggle();
      },
      fnameF() {
         $('.fname-edit').fadeToggle();
      },
      lnameF() {
         $('.lname-edit').fadeToggle();
      },
      emailF() {
         $('.email-edit').fadeToggle();
      },
      phoneF() {
          $('.phone-edit').fadeToggle();
      },
      addressF() {
          $('.adress-edit').fadeToggle();
      },
      openMenuNav() {
          $('#dropdown-row').fadeToggle(300);
          $('#dropdown-row').css("display", "flex");
      },
    
  },
  created() {
     
       axios.get(this.globalUrl + '/shop/gettree?userid=1')
        .then(function(response){
            console.log(response.data);
            for(var i = 0; i < response.data[0].regions.lenght; i ++) {
              for(var k = 0; k < response.data[0].regions[i].shops.lenght; k++) {
                    var array = [
                      {
                       hqId: response.data[0].id,
                       hqName: response.data[0].name,
                       hqHidden: response.data[0].hidden, 
                       regions: [{
                         regId: response.data[0].regions[i].id,
                         regName: response.data[0].regions[i].name,
                         regDesc: response.data[0].regions[i].desc,
                         regHidden: response.data[0].regions[i].hidden,
                         regParentId: response.data[0].regions[i].parentId,
                         shops: [{
                           shopId: response.data[0].regions[i].shops[k].id,
                           shopName: response.data[0].regions[i].shops[k].name,
                           shopDesc: response.data[0].regions[i].shops[k].desc,
                           shopAddress: response.data[0].regions[i].shops[k].address,
                           shopPhone: response.data[0].regions[i].shops[k].phone,
                           shopParentId: response.data[0].regions[i].shops[k].parentId,
                         }]
                        }
                       ]
                      }
                    ];  
                      this.res.push(array); 
                  };
             };
           
        }).catch(function(error){
            console.log(error);
      })
   
  }
}
</script>


<style scoped>

  
/* sidebar navbar */
.o-li-first {
    margin-top: 50px;
}
.o-li {
    list-style-type: none;
    margin-bottom: 30px;
    cursor: pointer;
}
.options {
    font-weight: 600;
}
.cog {
    color: green;
}
.cog-del {
    color: rgb(189, 39, 39);
}
.options {
    text-align: center;
    margin-top: 100px;
}
.one {
    margin-left: 30px;
    font-size: 25px;
    margin-bottom: 10px;
    color: darkgrey;
}
.two {
    margin-left: 65px;
    font-size: 25px;
    margin-bottom: 10px;
    color: darkgrey;
}
.hg {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    list-style-type: none;
}
.reg {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.stwp {
    margin-left: 65px;
    font-size: 20px;
    cursor: pointer;
}
.h-li {
    list-style-type: none !important;
}
.reg {
    list-style-type: none;
}
.reg-ul {
    list-style-type: none;
}
.hq-ul {
    list-style-type: none;
}
.shops {
    list-style-type: none;
}
.shop-ul {
    list-style-type: none;
}
.first-row-ls {
    margin-top: 20px;
}
.shadow-box {
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
    height: 1px;
}
.li-tag {
    display: inline;
    text-align: center;
}
.name {
    float: left;
    font-size: 30px;
    color: green;
    padding-bottom: 30px;
}
.accPopup {
    margin-top: 15px !important;
    margin-right: 15px !important;
}
.home {
    color: green;
    font-size: 18px;
    text-align: center;
    margin-top: 30px !important;
    margin-left: 40%;
    cursor: pointer;
}
.account {
    float: right;
    padding-right: 30px;
    color: green;
    font-size: 18px;
    cursor: pointer;
}
.hierarchy {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
.second-row {
    width: 100%;
    z-index: 999;
}
.sidebar {
    border-right: 0.5px solid lightgrey;
}
.first-row-sm {
    display: none;
}
.name-sm {
    display: none;
}
#menu-row {
    display: none;
}
#dropdown-row {
    display: none;
}
#fname-lname {
    color: black;
    font-size: 15px;
}
.myModal {
    text-align: start;
}
.infos {
    width: 100%;
    text-align: start;
    font-size: 15px;
    color: black;
}
.modal-name {
    color: black;
}
.username-edit {
    display: none;
}
.password-edit {
    display: none;
}
.fname-edit {
    display: none;
}
.lname-edit {
    display: none;
}
.email-edit {
    display: none;
}
.phone-edit {
    display: none;
}
.adress-edit {
    display: none;
}
.result-span {
    color: black;
    text-align: start;
    font-size: 15px;
}

.edit {
    margin-left: 0px;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.pen {
    float: right;
    color: darkgrey;
}
.title-of-modal {
    color: black;
}
.description-of-modal {
    color: black;
    font-size: 15px;
}
.first-one {
    margin-bottom: 15px;
}
#hq-class {
  padding: 10px 5px;
  color: green;
  text-align: start;
}
#reg-list {
  list-style-type: none;
}
#shops-list {
  list-style-type: none;
}



/* side bar media query */
 
@media only screen and (max-width: 1300px) {

    .first-row-ls {
        display: none;
    } 
    .sidebar {
      display: none;
    }    
    .first-card {
        margin-top: 0px;
    }
    .second-card {
        margin-top: 0px;
    }
    .nav-bar {
      display: none;
      height: 100px;
    }
    .first-row-sm {
      display: flex;
      text-align: center;
    }
    .name-sm {
        font-size: 25px;
        text-align: center;
        color: green;
        display: block;
        width: 100%;
    }
    #menu-nav {
        font-size: 30px;
        float: left;
        cursor: pointer;
    }
    .dropdown-acc {
        float: right;
    }
    #menu-row {
        margin-bottom: 50px;
        display: flex;
    }
    .last-card {
        margin-bottom: 100px;
    }
    .hierarchy-left {
        border-right: 0.5px solid lightgrey;
    }
    #dropdown-row {
        border-bottom: 0.5px solid lightgrey;
        display: none;
    }
    .options-dropdown {
        text-align: center;
    }
    .one-dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .two-dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
    }
   
  }

/* end media query */
  
/* cards */

.first-card {
    margin-top: 100px;
}
.second-card {
    margin-top: 100px;
}




</style>
