<template>
    <div id="main-div">
        <div id="login-form">
           <div class="container">
             <div class="row">
               <div class="col-6 offset-3">
                 <div class="login">
                   <p class="name">FinOffice</p>
                   <i class="fas fa-user-tie user"></i>
                   <br>
                   <input v-model="username" id="username" required class="username" type="text">
                   <br>
                   <i class="fas fa-lock pass"></i>
                   <br>
                   <input v-model="password" id="password" required class="password" type="password">
                   <br>
                   <button @click="subForm()" id="btnSubmit" type="button" class="btn btn-success btn">Login</button>
                 </div>
               </div>
             </div>
           </div>
         </div>
    </div>
</template>

<script>
const axios = require('axios');
export default {
    data() {
        return {
            globalUrl: 'http://fo.insolutions.tech/api',
            username: '',
            password: '',
        }
    },
    methods: {
        subForm() {
           var self = this;
           axios.post(self.globalUrl + '/user/login', {
               username: self.username,
               password: self.password,
             })
             .then(function (response) {
               console.log(response);
               let objAcc = {
                  firstName: response.data.firstName,
                  lastName: response.data.lastName,
                  username: response.data.username,
                  password: response.data.password,
                  email: response.data.email,
                  phone: response.data.phone,
                  adress: response.data.address,
                  userID: response.data.userID,
                  modifyPwd: response.data.modifyPwd,
               };
               if(response.data.modifyPwd === false) {
                 localStorage.setItem("objAcc", JSON.stringify(objAcc));
                 self.$router.push('/dashboard');
                 self.loginHide = false;
              }else {
                 localStorage.setItem("objAcc", JSON.stringify(objAcc)); 
                 self.$router.push('/changePass');
              }
             })
             .catch(function (error) {
               console.log(error);
               alert('invalid password or username!');
             });
              self.username = '';
              self.password = '';
        }
     },
    created() {

    }
}
</script>

<style scoped>

.name {
    margin-top: 250px;
    font-size: 35px;
    text-align: center;
}
.username {
    width: 100%;
    background-color: transparent;
    outline: none;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid green;
}
.password {
    border: none;
    border-bottom: 2px solid green;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.user {
    margin-top: 30px;
    color: black;
}
.pass {
    color: black;
}
.btn {
    margin-top: 50px;
    width: 100%;
}


</style>
